<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" />-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>-->
<!--  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>-->
<!--  <script src="../static/socket.js"></script>-->
<!--  <link rel="stylesheet" type="text/css" th:href="@{/css/styleSheet1.css}">-->

<!--  <title>game</title>-->
<!--</head>-->
<!--<body >-->

<!--<br>-->
<!--<br>-->
<!--<div class="container" >-->
<!--&lt;!&ndash;  th:style="'background: url(game.png)'"&ndash;&gt;-->
<!--  <h1>user input </h1>-->
<!--    <label for="output">write ur command here</label><input type="text" id="output">-->
<!--    <script type="text/javascript" src="../static/test.js"></script>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->


<div class="container" id="main-content">
  <div class="row">
    <div class="col-md-12">
      <form class="form-inline">
        <div class="form-group">
          <label for="msg">Message:</label>
          <input class="form-control" id="msg" placeholder="Your message here..." type="text">
        </div>
        <button class="btn btn-default" id="send" type="submit">Send</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped" id="responses">
        <thead>
        <tr>
          <th>Messages</th>
        </tr>
        </thead>
        <tbody id="messages">
        </tbody>
      </table>
    </div>
  </div>
</div>
